html{
    background-color: rgb(235, 211, 180); 
}

header{
    height: 375px;
}

.jumbotron{
    background-image: url("./img/header.jpg");
    background-size: cover;
    margin-bottom: 50px;
}

.hatter{
    background-color: rgb(235, 211, 180); 
}

table{
    margin-top: 50px;
    border: solid 1px;
    
}

th{
    background-color: rgb(231, 229, 229);
}

td{
    background-color: white;
}

th, td{
    width: 190px;
    border: solid 1px;
    text-align: center;
}